# python
.venv/
__pycache__/
*.py[cod]
.ruff_cache/
.pytest_cache/

# git
.git/
.gitignore
.github/

# env
.env
*.local

# documentacion
README.md
CLAUDE.md
ai-log.md
k8s/

# editores
.DS_Store
.idea/
.vscode/
